@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html,body{
    height: 100%;
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}

/* #tasklist::-webkit-scrollbar {
    width: 10px;  

} */

/* #tasklist::-webkit-scrollbar-track {
    display: none;
}

#tasklist::-webkit-scrollbar-thumb {
    display: none;
} */
